<h1 align="center"> Log in</h1>
<%= form_for(:session, :html => {class: "form-horizontal", role: "form"}, url: login_path) do |f| %>
  <div class="form-group">
    <div class="control-label col-sm-2">
      <%= f.label :email %>
    </div>
    <div class="col-sm-8">
      <%= f.email_field :email, class: "form-control", placeholder: "Enter Email"%>
    </div>
  </div>
  <div class="form-group">
    <div class="control-label col-sm-2">
      <%= f.label :password %>
    </div>
    <div class="col-sm-8">
      <%= f.password_field :password, class: "form-control", placeholder: "Enter Password", autocomplete: "off" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit "Log in", class: "btn btn-primary btn-lg" %>
    </div>
  </div>

  <div class="col-xs-4 col-xs-offset-4">
    <%= link_to 'Cancel request and return to articles listing', users_path, class: "btn btn-danger btn-lg"%>
  </div>
<% end %>
