<% obj.each do |article| %>
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="well well-lg">
        <div class="article-title">
          <%= link_to article.title, article_path(article) %>
        </div>
        <div class="article-body">
          <%= truncate(article.description, length:20) %>
          <div class="article-meta-details">
            <small>
              Created by <%= article.user.username if article.user %>,
              <%= time_ago_in_words(article.created_at) %> ago, 
              last updated <%= time_ago_in_words(article.updated_at) %> ago
            </small>
          </div>
        </div>
        <% if article.categories.any? %>
          <p>Categories: <%= render article.categories%></p>
        <% end %>
        <% if logged_in? && (current_user == article.user || current_user.admin? )%>
          <div class="article-actions">
            <%= link_to 'Edit this article', edit_article_path(article), class:"btn btn-primary btn-xs"%>
            <%= link_to   'Delete this article', 
                          article_path(article),
                          method: :delete,
                          data: {confirm: "Are you sure you want to delete this article?"},
                          class:"btn btn-danger btn-xs"
              %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
