<h1 align="center">All Alpha bloggers</h1>
<div align="center">
  <%= will_paginate%>
</div>
<div align="center">
  <% @users.each do |user| %>
    <ul class="listing">
      <div class="row">
        <div class="well col-md-4 col-md-offset-4">
          <li>
            <%= link_to gravatar_for(user), user_path(user) %>
          </li>
          <li class="article-title">
            <%= link_to user.username, user_path(user)%>
          </li>
          <li>
            <small>
              <%= pluralize(user.articles.count, "articles") if user.articles%>
            </small>
          </li>
          <% if logged_in? && (current_user == user || current_user.admin?)%>
            <li>
              <%= link_to "Delete this user", user_path(user), method: :delete, data: { confirm: "Are you sure?"}%>
            </li>
          <% end %>
        </div>
      </div>
    </ul>
  <% end %>
</div>
<div align="center">
  <%= will_paginate%>
</div>
