<div class="center jumbotron">
  <h1>Hello and welcome to Alpha Blog!</h1>
  <% if !logged_in?%>
    <%= link_to 'Sign up now!', signup_path, class: "btn btn-danger btn-lg btn-xlarge"%>
  <% end %>
</div>
