<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Alpha Blog", root_path, class: "navbar-brand", id: "logo" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to "View Users", users_path%></li>
        <% if logged_in?%>
          <li class="dropdown">
            <a 
              href="#"
              class="dropdown-toggle"
              data-toggle="dropdown" 
              role="button" 
              aria-haspopup="true" 
              aria-expanded="false"
            >Articles <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to "View Articles", articles_path%></li>
              <li><%= link_to "New Article", new_article_path%></li>
            </ul>
          </li>
        <% end %>
        <li class="dropdown">
            <a 
              href="#"
              class="dropdown-toggle"
              data-toggle="dropdown" 
              role="button" 
              aria-haspopup="true" 
              aria-expanded="false"
            >Categories <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to "View All Categories", categories_path%></li>
              <% Category.all.each do |category| %>
                <li><%= link_to "#{category.name}", category_path(category) %></li>
              <% end %>
              <% if logged_in? && current_user.admin?%>
                <li role="separator" class="divider"></li>
                <li><%= link_to "New Categories", new_category_path%></li>
              <% end %>
            </ul>
          </li>
      </ul>
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in?%>
          <li class="dropdown">
            <a 
              href="#" 
              class="dropdown-toggle" 
              data-toggle="dropdown" 
              role="button" 
              aria-haspopup="true" 
              aria-expanded="false"
              >Manage Account <%= "(Admin)" if current_user.admin? %>
              <span class="caret">
              </span>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "View your profile", user_path(current_user) %></li>
              <li><%= link_to "Edit your profile", edit_user_path(current_user) %></li>
               <li><%= link_to "Close your account", user_path(current_user), method: :delete, data: { confirm: "Are you sure you want to close your account?"}%> </li>
              <li role="separator" class="divider"></li>
              <li><%= link_to 'Log out', logout_path, method: :delete %><li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Login", login_path%></li>
          <li><%= link_to "Sign up", signup_path%></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
